.testimonials-wrapper {
  padding: 100px 20px;
  background-color: #f8fafc;
  position: relative;
  text-align: center;
}

.header {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 10px;
}

.header-paragraph {
  /* max-width: 600px; */
  margin: 0 auto 40px auto;
  color: #1e3a8a;
  font-size: 3.1rem;
}

.horizontal-line {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.actual-line {
  width: 80px;
  height: 4px;
  background: #2563eb;
  border-radius: 2px;
}

/* SVG Shape Divider */
.custom-shape-divider-top-1764543608 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1764543608 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1764543608 .shape-fill {
  fill: rgba(255, 166, 0, 0.726); /* Matches section above */
}

/* .carousel{
  background-color: blue;
} */